<h2>------------------</h2>
<h1>Author's listing</h1>
<table>
    <th>Author name</th>
    <th>Author Age</th>
    <% @authors.each do |author| %>
    <tr>
      <td><%= author.name %></td>
      <td><%= author.age %></td>
    </tr>
    <% end %>
</table>
<h2>------------------</h2>
<%= button_to '<h5>Create a author</h5>'.html_safe , new_author_path, method: :get%>
<%= button_to '<h5>Authors</h5>'.html_safe , authors_path, method: :get%>
<h2>------------------</h2>
<h1>Book's listing</h1>
<table>
    <th>Book name</th>
    <th>Book Price</th>
    <th>Book Genre</th>
    <th>Book's author</th>
    <% @books.each do |book| %>
    <tr>
      <td><%= book.name %></td>
      <td><%= book.price %></td>
      <td><%= book.genre %></td>
      <td><%= book.author.name %></td>
    </tr>
    <% end %>
</table>
<h2>------------------</h2>
<p><%= button_to '<h5>Create a Book</h5>'.html_safe, new_book_path, method: :get%></p>
<%= button_to '<h5>Books</h5>'.html_safe , books_path, method: :get%>
<h2>------------------</h2>